body {
	background-color: white;
}

#contact p::before {
	content: url("img/icon_msg.png");
}

#contact ul li img {
	width: 35px;
}

nav {
	color: white;
}

nav a::before {
	/*line*/
}

nav a:hover {

}

.section-title {
	background-color: #18C6A3;
	color: white;
    padding: 5px 20px;
    width: 25%;
    margin-bottom: 2rem;
}

.section-hr {
	width: 72%;
    margin-right: 0;
    margin-top: 1.5rem;
    height: 5px;
    background-color: #F1F1F1;
}

#featured {
	padding: 2.5em 0 5em 0;
}

.featured-date {
	background-color: #18C6A3;
	color: white;
    padding: 5px 20px;
	position: absolute;
	top: 10%;
    left: 15%;
}

.featured-title {
	color: white;
	position: absolute;
	top: 45%;
    left: 15%;
    font-size: 3em;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 1em;
}

#parallax {
	height: 420px;
	background: #000000 url("img/header.jpg") no-repeat scroll center;
	/*background: #000000 url("img/header.jpg") no-repeat fixed center;*/
}

#parallax h1 {
	text-transform: uppercase;
	color: white;
}

.h-90 {
	height: 90% !important;
}

#banner {
	height: 300px;
	background: #000000 url("img/banner.jpg") no-repeat fixed center;
	background-size: cover;
}


#news {
	padding: 5em 0 3em 0;
}

#news article h4 {
	text-transform: uppercase;
}

.tag {
    text-align: center;
    text-transform: uppercase;
    background-color: #C9C9C9;
    color: white;
    width: 25%;
    padding: 0.1em 0 0.1em 0;
    margin: 10px 10px 10px 0;
}

.tag p {
	margin-block-start: 0.1em;
    margin-block-end: 0.1em;
}

#jeffries {
	background-color: #F0F0F0;
	padding: 3em 0 5em 0;
}

.hex-hover {}

/* https://jtauber.github.io/articles/css-hexagon.html?fbclid=IwAR3MbZZdmas8WA3gYdzvVE4C8cO1l-TI3o9FTjpTfoKqRc9NVEjCcuc8nAs */
.hex::before {
    content: " ";
    width: 0; height: 0;
    border-bottom: 30px solid #6C6;
    border-left: 52px solid transparent;
    border-right: 52px solid transparent;
    position: absolute;
    top: -30px;
}

.hex {
    margin-top: 30px;
    width: 104px;
    height: 60px;
    background-color: #6C6;
    position: relative;
}

.hex::after {
    content: "";
    width: 0;
    position: absolute;
    bottom: -30px;
    border-top: 30px solid #6C6;
    border-left: 52px solid transparent;
    border-right: 52px solid transparent;
}

#info {
	background-color: #E2E2E2;
	padding: 2.5em 0;
}

#info ul li {
	list-style-image: url("img/icon_dl.png");
}

.info-title {
    max-width: 250px;
	background-color: #5CB5CE;
	color: white;
	text-align: center;
    padding: 5px 0;
    margin-bottom: 1rem;
}

#social {
	background-color: #58B6D0;
}

.social {
	color: white;
	padding: 30px 40px;
	width: 20%;
}
.social img{
	width: 40px;
}

.social:hover {
	background-color: #3A9AB2;
}

#category {
	padding: 2.5em 0 5em 0;
	background-color: #343635;
	color: white;
}

.img-partners {
	height: 60px;
}

.img-thumb {
	height: 60px;
}

.category-hr {
    width: 30px;
    margin-left: 0;
    height: 5px;
    background-color: #fff;
}

@media screen and (max-width: 768px) {
	#banner{
		height: 90px;
		background: #000000 url(img/banner.jpg) no-repeat fixed center;
		background-size: auto;
	}

	#news article {
		margin-bottom: 3rem;
	}

	#news article a {
		width: 100% !important;
	}
}